* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App */
.App {
    background-color: bisque;
    max-height: 100%;
    width: 100%;
    padding: 40px
}


/* login */

.login_container {
    height: 100%;
}

.login_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px;
}

.login_icon {
    margin-right: 10px;
    color: aqua;
    font-size: 30px;
}

.login_form {
    display: flex;
    justify-content: center;
}

.login_form input {
    margin: 10px;
    width: 65%;
    max-width: 290px;
    height: 50px;
    border-radius: 14px;
    border-width: 4px;
    border-color: aqua;
    font-size: 14px;
    padding-inline: 16px;
    margin-right: 20px
}

.login_form button {
    width: 25%;
    max-width: 90px;
    height: 50px;
    font-weight: bold;
    border-radius: 14px;
    font-size: 18px;
    background-color: darkgreen;
    border-width: 0;
    color: white;
    margin: 10px
}

/* Container */

.chats_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: larger;
}

.chats_logout {
    color: rgb(6, 152, 152)
}

/* Chat list */

.chats_list {
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 15px;
}
.chat_sender {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-bottom: 14px;
}

.chat_sender img,
.chat_receiver img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px;
}

.chat_sender p {
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    max-width: 96%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat_receiver {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 14px;
}

.chat_receiver p {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    max-width: 96%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* input text */
.inputtext_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-top: 20px;
}

.inputtext_container button {
    width: 30%;
    max-width: 100px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(4, 170, 170);
    border-width: 0;
    color: #fff;
    cursor: pointer;
}

.inputtext_container textarea {
    width: 94%;
    height: 50px;
    border-radius: 10px;
    border-width: 5px;
    padding: 10px;
    font-size: 18px;
    resize: none;
    margin-right: 6px;
}
